<nc:config xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <hostname>{{ item.name }}</hostname>
  <ip>
    <domain>
      <name>lab.cisco.com</name>
    </domain>
    <forward-protocol>
      <protocol>nd</protocol>
    </forward-protocol>
    <ftp>
      <passive/>
    </ftp>
    <multicast>
      <route-limit xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">2147483647</route-limit>
    </multicast>
    <name-server>
      <no-vrf>10.48.59.212</no-vrf>
    </name-server>
    <ssh>
      <client>
        <algorithm>
          <encryption>
            <aes128-ctr/>
            <aes192-ctr/>
            <aes256-ctr/>
          </encryption>
        </algorithm>
      </client>
      <server>
        <algorithm>
          <encryption>
            <aes128-ctr/>
            <aes192-ctr/>
            <aes256-ctr/>
          </encryption>
        </algorithm>
      </server>
      <version>2</version>
    </ssh>
    <access-list>
      <standard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl" nc:operation="replace">
        <name>STDACL</name>
        <access-list-seq-rule>
          <sequence>10</sequence>
          <permit>
            <std-ace>
              <ipv4-prefix>10.0.0.0</ipv4-prefix>
              <mask>0.0.0.255</mask>
            </std-ace>
          </permit>
        </access-list-seq-rule>
        <access-list-seq-rule>
          <sequence>20</sequence>
          <permit>
            <std-ace>
              <ipv4-prefix>10.0.2.0</ipv4-prefix>
              <mask>0.0.0.255</mask>
            </std-ace>
          </permit>
        </access-list-seq-rule>
        <access-list-seq-rule>
          <sequence>30</sequence>
          <permit>
            <std-ace>
              <ipv4-prefix>10.0.3.0</ipv4-prefix>
              <mask>0.0.0.255</mask>
            </std-ace>
          </permit>
        </access-list-seq-rule>
        <access-list-seq-rule>
          <sequence>40</sequence>
          <permit>
            <std-ace>
              <ipv4-prefix>10.0.4.0</ipv4-prefix>
              <mask>0.0.0.255</mask>
            </std-ace>
          </permit>
        </access-list-seq-rule>
      </standard>
      <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl" nc:operation="replace">
        <name>MYACL</name>
        <access-list-seq-rule>
          <sequence>110</sequence>
          <ace-rule>
            <action>permit</action>
            <protocol>ip</protocol>
            <ipv4-address>100.1.0.0</ipv4-address>
            <mask>0.0.0.255</mask>
            <dst-any/>
          </ace-rule>
        </access-list-seq-rule>
        <access-list-seq-rule>
          <sequence>120</sequence>
          <ace-rule>
            <action>permit</action>
            <protocol>ip</protocol>
            <ipv4-address>100.2.0.0</ipv4-address>
            <mask>0.0.0.255</mask>
            <dst-any/>
          </ace-rule>
        </access-list-seq-rule>
      </extended>
      <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl" nc:operation="replace">
        <name>MYACL2</name>
        <access-list-seq-rule>
          <sequence>10</sequence>
          <ace-rule>
            <action>permit</action>
            <protocol>ip</protocol>
            <ipv4-address>100.2.0.0</ipv4-address>
            <mask>0.0.255.255</mask>
            <dst-any/>
          </ace-rule>
        </access-list-seq-rule>
        <access-list-seq-rule>
          <sequence>20</sequence>
          <ace-rule>
            <action>permit</action>
            <protocol>ip</protocol>
            <ipv4-address>100.1.0.0</ipv4-address>
            <mask>0.0.255.255</mask>
            <dst-any/>
          </ace-rule>
        </access-list-seq-rule>
      </extended>
    </access-list>
    <http xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-http">
      <server>false</server>
      <secure-server>false</secure-server>
    </http>
    <icmp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-icmp">
      <rate-limit>
        <unreachable>
          <time>10</time>
        </unreachable>
      </rate-limit>
    </icmp>
  </ip>
  <ipv6>
    <unicast-routing/>
    <source-route>false</source-route>
  </ipv6>
  <interface>
    <GigabitEthernet>
      <name>1</name>
      <description>*** MGMT Interface ***</description>
      <ip>
        <address>
          <dhcp/>
        </address>
        <proxy-arp>false</proxy-arp>
        <redirects>false</redirects>
        <unreachables xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-icmp">false</unreachables>
      </ip>
      <logging>
        <event>
          <link-status/>
        </event>
      </logging>
      <mop>
        <enabled>false</enabled>
        <sysid>false</sysid>
      </mop>
      <negotiation xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ethernet">
        <auto>true</auto>
      </negotiation>
    </GigabitEthernet>
  </interface>
  <control-plane/>
  <logging>
    <monitor-conf>
      <monitor>false</monitor>
    </monitor-conf>
    <buffered>
      <severity-level>informational</severity-level>
    </buffered>
    <console-config>
      <console>false</console>
    </console-config>
    <console-conf>
      <console>false</console>
    </console-conf>
    <origin-id>
      <type-value>hostname</type-value>
    </origin-id>
  </logging>
  <aaa>
    <new-model xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa"/>
    <authentication xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa">
      <login>
        <name>default</name>
        <a1>
          <local/>
        </a1>
      </login>
    </authentication>
    <authorization xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa">
      <exec>
        <name>default</name>
        <a1>
          <local/>
        </a1>
      </exec>
    </authorization>
    <session-id xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa">common</session-id>
  </aaa>
  <line>
    <console>
      <first>0</first>
      <stopbits>1</stopbits>
    </console>
    <vty>
      <first>0</first>
      <last>4</last>
      <exec-timeout>
        <minutes>0</minutes>
        <seconds>0</seconds>
      </exec-timeout>
      <transport>
        <input>
          <input>ssh</input>
        </input>
      </transport>
    </vty>
  </line>
  <ntp>
    <server xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp">
      <server-list>
        <ip-address>10.48.59.212</ip-address>
        <prefer/>
      </server-list>
    </server>
  </ntp>
  <diagnostic xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-diagnostics">
    <bootup>
      <level>minimal</level>
    </bootup>
  </diagnostic>
</native>
</nc:config>